*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  margin-top: 50px;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
div:hover  a{
  color: #f60;
}
#container {
  width: 70%;
  height: 88vh;
  margin: 0 auto;
  /* border: 2px solid #333; */
  overflow: hidden;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 12px;
}
img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  object-position: center;
  /* border: 2px solid red; */
}
.box {
    background-color: #fff;
  /* border: 2px solid #333; */
  text-align: center;
  height: 200px;
  width: 320px;
  /* width: auto; */
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-1 svg {
  width: auto;
  height: 70%;
  object-fit: contain;
  object-position: center;
}
